


  <div  class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <h1>Gestor de súper héroes</h1>

      <nav>
          <a routerLink=""        ariaCurrenttWhenActive="main page">Inicio</a>
          <a routerLink="add"  ariaCurrenttWhenActive="page to add hero">Crear heroe</a>
          <a routerLink="galery" ariaCurrenttWhenActive="page to add power">Galeria</a>
          <a routerLink="#"  ariaCurrenttWhenActive="contacto page">Contacto</a>
      </nav>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
        
    
    </header>
    <main >
<router-outlet></router-outlet>
</main>
</div>

